<div class="snippet_section">
  <div class="snippet_section_img" style="background-image: url({{ settings.snippet_bg_image | image_url }});">
    <div class="snippet_info">
      <h2 class="snippet_heading"> {{ settings.snippet_custom_title }} </h2>
      <p class="snippet_sub_heading">{{ settings.snippet_custom_subtitle }}</p>
      <a href="{{ settings.snippet_link }}" class="button bg_btn">{{ settings.snippet_linktext }}</a>
    </div>
  </div>
</div>